<!DOCTYPE html>
<html>
  <head>
    <title>EndPeril: Project Rift</title>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
    <meta name="description" content="Testing." />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css" rel="stylesheet">
    <link href="/library/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/tagsort.min.css" rel="stylesheet">
  </head>
  <body class="hold-transition">
    <% if session? %>
      <nav class="navbar navbar-orange navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="navbar-header">
              <a class="navbar-brand"><img class="img-message img-circle img-responsive center-block up2" src="<%=@user.avater%>"></a>
              <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <a id="main-nav-toggle" class="nav-icon userpanel">Userpanel <i class="fa fa-bars white" ></i></a></button>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <div class="container">
              <ul class="nav nav-justified ">
                <li><a href="/user/<%=@user.username%>" class="userpanel">Welcome, <%=@user.username%></a> </li>
                <li><a href="/settings" class="userpanel">Control Panel</a></li>
                <li><a href="/messages" class="userpanel">Messages <span class="badge2"><%=@user.messages.count(:read => false)%></span></a></li>
                <li><a href="/friends" class="userpanel">Friends <span class="badge2"><%=@user.friendships.all(:status => "friends").target.count(:updated_at.gt =>  30.minutes.ago)%></span></a></li>
                <li><a href="/logout" class="userpanel">Logout</a></li>
                <ul>
                </div>
              </nav>
            <% else %>
              <nav class="navbar navbar-orange navbar-fixed-top">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                        <a id="main-nav-toggle" class="nav-icon userpanel">Userpanel <i class="fa fa-bars white" ></i></a></button>
                    </div>
                  </div>
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <form class="navbar-form navbar-nav" action="/login" method="post">
                      <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                      </div>
                      <button type="submit" class=" button1">Sign In</button>
                    </form>
                    <button  class="button1" data-toggle="modal" data-target="#register">Register</button>
                    <button href="#" class="button1" data-toggle="modal" data-target="#forgot_password">Forgot Password?</button>
                  </div>
                </div>
              </nav>
            <% end %>
            <div class="pushdown"></div>
            <a class="logo" href="/"><img src="/images/banner.png" class="img-responsive center-block banner"></a>
          </div>
        </div>
      </nav>
      <div class="container mainContent">
        <% if session? %>
          <a target="_blank" href="/arena">
            <img src="/images/PlayNow.png" class="img-responsive" >
          </a>
        <%else %>
          <a data-toggle="modal" data-target="#register" style="cursor:pointer">
            <img src="/images/PlayNow.png" class="img-responsive" >
          </a>
        <%end %>
        <%=yield%>
      </div>
      <div class="footer " style="clear:both;">
        <div class="container ">
          <div class="footerText">
            <i class="fas fa-copyright">Anime-Blast 2025</i>
          </div>
          <div class="container text-center">
            <br>
            <ul>
              <li>   <a class="links" href="/legal">Legal</a></li>
              <li class="links"> | </li>
              <li > <a class="links" href="/faq">Faq</a></li>
              <li class="links"> | </li>
              <li >  <a class="links" href="/thanks">Credit</a></li>
            </ul>
            <br>
          </div>
        </div>
      </div>
      <!-- Forgot password -->
      <div class="modal fade" id="forgot_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body modal-bg">
              <div class=" button1 btn-block white" id="myModalLabel">Forgot Password</div>
              <div class="shadow2">
                <form action="/forgot_password" method="post">
                  Enter the email address associated with your account: <input type="email" class="form-control" name="email">
                  <br>
                  <input type="submit" class="btn btn-default btn-block " value="Reset Password">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body modal-bg">
              <h4 class="modal-title" id="myModalLabel">
                <div class="button1">Register </div>
              </h4>
              <form action="/signup" method="post">
                <div class="shadow2">
                  <li class="list-group-item noround"><label for="Username">Username</label> <input type="text" class="form-control" name="username" placeholder="Enter Username" required></li>
                  <li class="list-group-item "><label for="Birthday"> Password</label> <input type="password" class="form-control" name="passwordcheck" placeholder="Enter Password" required></li>
                  <li class="list-group-item "> <label for="Birthday">Confirm Password</label> <input type="password" class="form-control" name="password" placeholder="Enter Password" required></li>
                  <li class="list-group-item"><label for="Birthday">Email</label><input type="email" name="email" class="form-control" placeholder="Enter Email" required> </li>
                  <li class="list-group-item text-center noround"><input type="submit" href="/signup" class="btn btn-default btn-block"></li>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <script src="/js/jq.min.js"></script>
      <script src="/js/main.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/tagsort.min.js"></script>
      <script language="javascript" type="text/javascript" src="/js/create.js"></script>
      <script src="/js/validation.js?version=0.1"></script>
      <script type="text/javascript">
        $(function() {
            $('body').popover({
                selector: '[data-toggle=popover]',
                container: 'body',
                trigger: 'hover'
            });

            $('body').tooltip({
                selector: '[data-toggle=tooltip]'
            });

        });
      </script>
    </body>
  </html>
  <!---Footer Information End-->
