<div class="panel cleanblack title">

  <h3 class="panel-heading fa fa-user-times fa-2x"> Leaders</h3>
  <div class="panel-body">
    <table class="table table-responsive ">
      <thead>
        <tr>
          <th class="hidden-xs">Avatar</th>
          <th>Username</th>
          <th>Online</th>
          <th>Remove</th>
          <th class="hidden-xs">Message</th>
        </tr>
      </thead>
      <% if @leader %>
        <%@leader.each do |l| %>

          <tr>
            <td class="hidden-xs"><img alt="avater" class="img-message img-circle" src="<%=l.user.avater %>"> </td>
            <td>
              <a href='/user/<%= l.user.username %>'>
                <%= l.user.username %>
              </a>
            </td>
            <td>
              <% if l.user.updated_at >  30.minutes.ago %><span class="label label-success">  online </span>
                <%else%><span class="label label-danger"> offline</span>
                  <%end%>
            </td>
            <td>
              <form action="/planet/mangement/remove/<%= l.id %>" method="post"> <input type="submit" class="btn btn-danger btn-xs" value="Remove"> </form>
            </td>




            <td class="hidden-xs">
              <a class="label label-primary  fa fa-envelope" href="#" id="<%= l.user.username %>" id4="6" title="Message" OnClick="updateTextConverter(this);"> </a>
            </td>

          </tr>
          <% end %>
            <% end %>
    </table>
  </div>
</div>

</div>


<div class="panel cleanblack title">

  <h3 class="panel-heading fa fa-user-times fa-2x"> Co-Leaders</h3>
  <div class="panel-body">
    <table class="table table-responsive ">
      <thead>
        <tr>
          <th class="hidden-xs">Avatar</th>
          <th>Username</th>
          <th>Online</th>
          <th>Remove</th>
          <th class="hidden-xs">Message</th>
        </tr>
      </thead>

      <% if @co %>
        <%@co.each do |c| %>

          <tr>
            <td class="hidden-xs"><img alt="avater" class="img-message img-circle" src="<%=c.user.avater %>"> </td>
            <td>
              <a href='/user/<%= c.user.username %>'>
                <%= c.user.username %>
              </a>
            </td>
            <td>
              <% if c.user.updated_at >  30.minutes.ago %><span class="label label-success">  online </span>
                <%else%><span class="label label-danger"> offline</span>
                  <%end%>
            </td>
            <td>
              <form action="/planet/mangement/remove/<%= c.id %>" method="post"> <input type="submit" class="btn btn-danger btn-xs " value="Remove"> </form>
            </td>

            <td class="hidden-xs">
              <a class="label label-primary  fa fa-envelope" href="#" id="<%= c.user.username %>" id4="6" title="Message" OnClick="updateTextConverter(this);"> </a>
            </td>

          </tr>
          <% end %>
            <% end %>
    </table>
  </div>
</div>

</div>

<div class="panel cleanblack title">

  <h3 class="panel-heading fa fa-user-times fa-2x"> Elite</h3>
  <div class="panel-body">
    <table class="table table-responsive ">
      <thead>
        <tr>
          <th class="hidden-xs">Avatar</th>
          <th>Username</th>
          <th>Online</th>
          <th>Remove</th>
          <th class="hidden-xs">Message</th>
        </tr>
      </thead>


      <% if @elite %>
        <%@elite.each do |e| %>

          <tr>
            <td class="hidden-xs"><img alt="avater" class="img-message img-circle" src="<%=e.user.avater %>"> </td>
            <td>
              <a href='/user/<%= e.user.username %>'>
                <%= e.user.username %>
              </a>
            </td>
            <td>
              <% if e.user.updated_at >  30.minutes.ago %><span class="label label-success">  online </span>
                <%else%><span class="label label-danger"> offline</span>
                  <%end%>
            </td>
            <td>
              <form action="/planet/mangement/remove/<%= e.id %>" method="post"> <input type="submit" class="btn btn-danger btn-xs " value="Remove"> </form>
            </td>




            <td class="hidden-xs">
              <a class="label label-primary  fa fa-envelope" href="#" id="<%= e.user.username %>" id4="6" title="Message" OnClick="updateTextConverter(this);"> </a>
            </td>

          </tr>
          <% end %>
            <% end %>
    </table>
  </div>
</div>

</div>

<div class="panel cleanblack title">

  <h3 class="panel-heading fa fa-user-times fa-2x"> Members</h3>
  <div class="panel-body">
    <table class="table table-responsive ">
      <thead>
        <tr>
          <th class="hidden-xs">Avatar</th>
          <th>Username</th>
          <th>Online</th>
          <th>Remove</th>
          <th class="hidden-xs">Message</th>
        </tr>

      </thead>



      <% if @members %>
        <%@members.each do |m| %>

          <tr>
            <td class="hidden-xs"><img alt="avater" class="img-message img-circle" src="<%=m.user.avater %>"> </td>
            <td>
              <a href='/user/<%= m.user.username %>'>
                <%= m.user.username %>
              </a>
            </td>
            <td>
              <% if m.user.updated_at >  30.minutes.ago %><span class="label label-success">  online </span>
                <%else%><span class="label label-danger"> offline</span>
                  <%end%>
            </td>


            <td>
              <form action="/planet/mangement/remove/<%= m.id %>" method="post"> <input type="submit" class="btn btn-danger btn-xs " value="Remove"> </form>
            </td>




            <td class="hidden-xs">
              <a class="label label-primary  fa fa-envelope" href="#" id="<%= m.user.username %>" id4="6" title="Message" OnClick="updateTextConverter(this);"> </a>
            </td>

          </tr>
          <% end %>
            <% end %>
    </table>
  </div>
</div>

</div>


<% if @user.username == @user.planet.owner %>

  <div class="panel panel-default">
    <div class="panel-heading">Transfer Ownership</div>
    <div class="panel-body cb">
      <form action="/planet/mangement/transfer" method="post">
        <div class="form-group">

          <label for="exampleInputEmail1">Enter Player Name</label>
          <input type="text" class="form-control" name="username" placeholder="Username" />
        </div>

        <br>
        <button type="submit" class="btn btn-default center-block">Submit</button>
      </form>
    </div>

  </div>

  <% end %>


    <div class="panel panel-default">
      <div class="panel-heading">Change Position</div>
      <div class="panel-body cb">
        <form action="/planet/mangement/change" method="post">
          <div class="form-group">

            <label for="exampleInputEmail1">Enter Player Name</label>
            <input type="text" class="form-control" name="username" placeholder="Username" />
          </div>


          <label>Rank</label><select name="rank" class="form-control">
  <option value="Leader">Leader</option>
  <option value="Co-Leader">Co-Leader</option>
  <option value="Elite">Elite</option>
  <option value="Member">Member</option>
 
</select>


          <br>
          <button type="submit" class="btn btn-default center-block">Submit</button>
        </form>
      </div>

    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Planet Messaging System</div>
      <div class="panel-body cb">

        <!--<div class="alert alert-danger" role="alert">Uses spaces!</div>-->

        <div class="panel panel-default">
          <div class="panel-body">
            <img src='/images/smileys/s1.png' id="1" id2="1" onclick='smiley(this);' /> <img src='/images/smileys/s2.png' id="2" id2="1" onclick='smiley(this);' /> <img src='/images/smileys/s3.png' id="3" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s4.png' id="4" id2="1"
              onclick='smiley(this);' />
            <img src='/images/smileys/s5.png' id="5" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s6.png' id="6" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s7.png' id="7" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s8.png' id="8" id2="1"
              onclick='smiley(this);' />
            <img src='/images/smileys/s9.png' id="9" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s10.png' id="10" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s11.png' id="11" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s12.png' id="12"
              id2="1" onclick='smiley(this);' />
            <img src='/images/smileys/s13.png' id="13" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s14.png' id="14" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s15.png' id="15" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s16.png' id="16"
              id2="1" onclick='smiley(this);' />
            <img src='/images/smileys/s17.png' id="17" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s18.png' id="18" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s19.png' id="19" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s20.png' id="20"
              id2="1" onclick='smiley(this);' />
            <img src='/images/smileys/s21.png' id="21" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s22.png' id="22" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s23.png' id="23" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s24.png' id="24"
              id2="1" onclick='smiley(this);' />
            <img src='/images/smileys/s25.png' id="25" id2="1" onclick='smiley(this);' />
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-body">
            <div class="btn-group " role="group" aria-label="...">
              <button class="btn btn-default" id="1" id2="1" onclick="changeText(this)">Bold</button><button class="btn btn-default" id="2" id2="1" onclick="changeText(this)">Italic</button><button class="btn btn-default" id2="1" id="3" onclick="changeText(this)">Quote</button>
              <button
                class="btn btn-default" id="4" id2="1" onclick="changeText(this)">Link</button>
                <button class="btn btn-default" id="5" id2="1" onclick="changeText(this)">Strike</button><button class="btn btn-default" id="6" id2="1" onclick="changeText(this)">Image</button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default">Text Size</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
                  <ul class="dropdown-menu">
                    <li><a id="7" id2="1" onclick="changeText(this)">H1 Largest</a></li>
                    <li><a id="8" id2="1" onclick="changeText(this)">H2</a></li>
                    <li><a id="9" id2="1" onclick="changeText(this)">H3</a></li>
                    <li><a id="10" id2="1" onclick="changeText(this)">H4</a></li>
                    <li><a id="11" id2="1" onclick="changeText(this)">H5</a></li>
                    <li><a id="12" id2="1" onclick="changeText(this)">H6 Smallest</a></li>
                  </ul>
                </div>


            </div>


          </div>
        </div>
        <form action="/planet/mangement/message" method="post">
          <label>Subject</label>
          <input class="form-control" type="input" name="title">
          <br> <b>Body</b> <textarea id="textUpdate" name="body" class="form-control" placeholder="Your message text goes here" rows="10" required></textarea> <br>


          <label>Rank</label><select name="position" class="form-control">
  <option value="Leaders">Leader</option>
  <option value="Co-Leaders">Co-Leader</option>
  <option value="Elites">Elite</option>
  <option value="Members">Member</option>
  <option value="All">All</option>
</select>
          <br>
          <button type="submit" class="btn btn-default center-block">Submit</button>

      </div>
    </div>



    </form>
    <br>

    </div>
    <!-- New Message --->
    <div class="modal fade" id="edit_reply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title newText" id="myModalLabel">New message</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert">Uses spaces!</div>

            <div class="panel panel-default">
              <div class="panel-body">
                <img src='/images/smileys/s1.png' id="1" id2="textUpdate" onclick='smiley(this);' /> <img src='/images/smileys/s2.png' id="2" id2="textUpdate" onclick='smiley(this);' /> <img src='/images/smileys/s3.png' id="3" id2="textUpdate" onclick='smiley(this);' /><img
                  src='/images/smileys/s4.png' id="4" id2="textUpdate" id2="textUpdate" onclick='smiley(this);' />
                <img src='/images/smileys/s5.png' id="5" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s6.png' id="6" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s7.png' id="7" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s8.png'
                  id="8" id2="textUpdate" onclick='smiley(this);' />
                <img src='/images/smileys/s9.png' id="9" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s10.png' id="10" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s11.png' id="11" id2="textUpdate" onclick='smiley(this);' /><img
                  src='/images/smileys/s12.png' id="12" id2="textUpdate" onclick='smiley(this);' />
                <img src='/images/smileys/s13.png' id="13" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s14.png' id="14" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s15.png' id="15" id2="textUpdate" onclick='smiley(this);' /><img
                  src='/images/smileys/s16.png' id="16" id2="textUpdate" onclick='smiley(this);' />
                <img src='/images/smileys/s17.png' id="17" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s18.png' id="18" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s19.png' id="19" id2="textUpdate" onclick='smiley(this);' /><img
                  src='/images/smileys/s20.png' id="20" id2="textUpdate" onclick='smiley(this);' />
                <img src='/images/smileys/s21.png' id="21" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s22.png' id="22" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s23.png' id="23" id2="textUpdate" onclick='smiley(this);' /><img
                  src='/images/smileys/s24.png' id="24" id2="textUpdate" onclick='smiley(this);' />
                <img src='/images/smileys/s25.png' id="25" id2="textUpdate" onclick='smiley(this);' />
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-body">
                <div class="btn-group " role="group" aria-label="...">
                  <button class="btn btn-default" id="1" id2="textUpdate" onclick="changeText(this)">Bold</button><button class="btn btn-default" id="2" id2="textUpdate" onclick="changeText(this)">Italic</button><button class="btn btn-default" id="3"
                    id2="textUpdate" onclick="changeText(this)">Quote</button><button class="btn btn-default" id="4" id2="textUpdate" onclick="changeText(this)">Link</button>
                  <button class="btn btn-default" id="5" id2="textUpdate" onclick="changeText(this)">Strike</button><button class="btn btn-default" id="6" id2="textUpdate" onclick="changeText(this)">Image</button><button class="btn btn-default" id="13"
                    id2="textUpdate" onclick="changeText(this)">Image with Link</button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">Text Size</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
                    <ul class="dropdown-menu">
                      <li><a id="7" id2="textUpdate" onclick="changeText(this)">H1 Largest</a></li>
                      <li><a id="8" id2="textUpdate" onclick="changeText(this)">H2</a></li>
                      <li><a id="9" id2="textUpdate" onclick="changeText(this)">H3</a></li>
                      <li><a id="10" id2="textUpdate" onclick="changeText(this)">H4</a></li>
                      <li><a id="11" id2="textUpdate" onclick="changeText(this)">H5</a></li>
                      <li><a id="12" id2="textUpdate" onclick="changeText(this)">H6 Smallest</a></li>
                    </ul>
                  </div>


                </div>


              </div>
            </div>

            <form id="form" action="/messages" method="post">
              <input type="hidden" name="location" class="form-control">
              <input type="hidden" value="" name="previous" class="form-control">
              <div id="hideuser">To user: <input type="text" id="user" name="send_to" value="" class="form-control"> <br></div>
              <div id="titlehold">Title: <input type="text" name="title" class="form-control"> <br></div>
              Body: <textarea id="textUpdate" name="body" class="form-control" placeholder="Your message text goes here" rows="5" required></textarea> <br>

          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-success pull-left" value="Send">
            </form><button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    </div>

    </div>