<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <% if flash[:success] %>
        <div class="alert alert-success fade in">
          <%= flash[:success] %><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
        <% elsif flash[:error] %>
          <% if flash[:error].class == Array %>
            <% flash[:error].each do |e| %>
              <div class="alert alert-danger fade in">
                <%=e.to_s %><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
              <% end %>
                <% else %>
                  <div class="alert alert-danger fade in">
                    <%= flash[:error] %><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
                  <% end %>
                    <% elsif flash[:info] %>
                      <div class="alert alert-info fade in">
                        <%= flash[:info] %><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
                      <% end %>

                        <nav>
                          <ol class="cd-multi-steps fixed2 text-center OB">
                            <li class="visited">
                              <a href="/forums">
                                <%=@forum.incategory%>
                              </a>
                            </li>
                            <li class="current"><em><a class="cd-fixed" href="#">
                                 <%=@forum.title%>
                                </a></em></li>
                            <li><em><%=@forum.title%></em></li>
                          </ol>
                        </nav>

                        <div class="panel cleanblack noround">
                          <div class="panel-body"><button class="btn btn-forum  col-xs-12 noround" id4="5" onclick="updateTextConverter(this);"><b class="OB"> Create New Topic</b></button></div>
                        </div>
                        
                        <% if @forum.forumposts.all(:announcements => true).count > 0%>
                         <table class="table">
                            <thead>
                              <tr>
                                <th class="OB">Thread</th>
                                <th class="hidden-xs OB">Views</th>
                                <th class="hidden-xs OB">Replies</th>
                                <th class="OB text-center2">Last Activity</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% @forum.forumposts.all(:announcements => true).each do |f| %>
                                <tr>
                                  <td class="OB"><img src="/images/forum/announce3.png" class="img-responsive ftitle hidden-xs">
                                    <a href="/forums/<%=@forum.url%>/<%=f.id%>" class="product-title">
                                      <%=f.title%>
                                    </a><br><b class="OB">By
                                    <a href="/user/<%=f.author%>"><b class="urlover2">
                                      <%=f.author%></a>
                                    </b>
                                  </td>

                                  <td class="hidden-xs text-center2 OB">
                                    <%= f.views%>
                                  </td>
                                  <td class="hidden-xs text-center2 OB">
                                    <%= f.comments %>
                                  </td>
                                  <td class="text-center2 OB"><small><%=f.created_at.strftime("%m/%d/%Y at %I:%M%p")%></small>
                                    <br> <b>By
                                    <a href="/user/<%=f.updated_by%>"><b class="urlover2">
                                      <%=f.updated_by%></a>
                                    </b></b>
                                  </td>
                                </tr>
                                <% end %>

                        <% end %>
              <% if @forum.forumposts.all(:sticky => true).count > 0%>          
                         
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th class="OB">Thread</th>
                                        <th class="hidden-xs OB">Views</th>
                                        <th class="hidden-xs OB">Replies</th>
                                        <th class="OB">Last Activity</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% @forum.forumposts.all(:sticky => true).each do |f| %>
                                        <tr>
                                          <td class="OB"><img src="/images/forum/sticky.png" class="img-responsive ftitle hidden-xs">
                                            <a href="/forums/<%=@forum.url%>/<%=f.id%>" class="product-title">
                                              <%=f.title%>

                                            </a><br><b class="OB">By
                                            <a href="/user/<%=f.author%>"><b class="urlover2">
                                      <%=f.author%></a></b>
                                    </b>
                                          </td>

                                          <td class="hidden-xs text-center2 OB">
                                            <%= f.views%>
                                          </td>
                                          <td class="hidden-xs text-center2 OB">
                                            <%= f.comments %>
                                          </td>
                                          <td class="text-center2 OB"><small><%=f.created_at.strftime("%m/%d/%Y at %I:%M%p")%></small>
                                            <br> <b>By
                                            <a href="/user/<%=f.updated_by%>"><b class="urlover2">
                                      <%=f.updated_by%></a>
                                    </b></b>
                                          </td>
                                        </tr>
                                        <% end %>

                                    </tbody>
                                  </table>
              <% end %>
              <%= will_paginate @fp.all, renderer: BootstrapPagination::Sinatra %>
<% if @fp %>

                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th class="OB">Thread</th>
                                        <th class="hidden-xs OB">Views</th>
                                        <th class="hidden-xs OB">Replies</th>
                                        <th class="OB">Last Activity</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% @fp.each do |f| %>
                                        <tr>
                                          <td class="OB"> <% if f.locked %><img src="/images/forum/closed_topic.png" class="img-responsive ftitle hidden-xs">   <% else %> <img src="/images/forum/topic.png" class="img-responsive ftitle hidden-xs"> <% end%>
                                            <a href="/forums/<%=@forum.url%>/<%=f.id%>" class="product-title">
                                              <%=f.title%>
                                               
                                            </a><br><b class="OB">By
                                            <a href="/user/<%=f.author%>"><b class="urlover2">
                                      <%=f.author%></a>
                                    </b>
                                          </td>

                                          <td class="hidden-xs text-center2">
                                            <%= f.views%>
                                          </td>
                                          <td class="hidden-xs text-center2">
                                            <%= f.comments %>
                                          </td>
                                          <td class="text-center2 OB"><small><%=f.created_at.strftime("%m/%d/%Y at %I:%M%p")%></small>
                                            <br> <b>By
                                            <a href="/user/<%=f.updated_by%>"><b class="urlover2">
                                      <%=f.updated_by%></a>
                                    </b></b>
                                          </td>
                                        </tr>
                                        <% end %>
                                        <% else %>
                                        
                                        <div class="text-center OB fixed0" >No Posts At The Moment</div>

                                          <% end %>

                                    </tbody>
                                  </table>

                                  <div id="mobiletopic" class="panel noround hidden">
                                    <div class="panel-heading navbar-custom">New Topic</div>
                                    <div class="panel-body">
                                      <!--<div class="alert alert-danger" role="alert">Uses spaces!</div>-->

                                      <div class="panel panel-default">
                                        <div class="panel-body">
                                          <img src='/images/smileys/s1.png' id="1" id2="1" onclick='smiley(this);' /> <img src='/images/smileys/s2.png' id="2" id2="1" onclick='smiley(this);' /> <img src='/images/smileys/s3.png' id="3" id2="1" onclick='smiley(this);'
                                          /><img src='/images/smileys/s4.png' id="4" id2="1" id2="textUpdate" onclick='smiley(this);' />
                                          <img src='/images/smileys/s5.png' id="5" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s6.png' id="6" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s7.png' id="7" id2="1" onclick='smiley(this);'
                                          /><img src='/images/smileys/s8.png' id="8" id2="1" onclick='smiley(this);' />
                                          <img src='/images/smileys/s9.png' id="9" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s10.png' id="10" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s11.png' id="11" id2="1" onclick='smiley(this);'
                                          /><img src='/images/smileys/s12.png' id="12" id2="1" onclick='smiley(this);' />
                                          <img src='/images/smileys/s13.png' id="13" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s14.png' id="14" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s15.png' id="15" id2="1" onclick='smiley(this);'
                                          /><img src='/images/smileys/s16.png' id="16" id2="1" onclick='smiley(this);' />
                                          <img src='/images/smileys/s17.png' id="17" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s18.png' id="18" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s19.png' id="19" id2="1" onclick='smiley(this);'
                                          /><img src='/images/smileys/s20.png' id="20" id2="1" onclick='smiley(this);' />
                                          <img src='/images/smileys/s21.png' id="21" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s22.png' id="22" id2="1" onclick='smiley(this);' /><img src='/images/smileys/s23.png' id="23" id2="1" onclick='smiley(this);'
                                          /><img src='/images/smileys/s24.png' id="24" id2="1" onclick='smiley(this);' />
                                          <img src='/images/smileys/s25.png' id="25" id2="1" onclick='smiley(this);' />
                                        </div>
                                      </div>


                                      <div class="panel panel-default">
                                        <div class="panel-body">
                                          <div class="btn-group " role="group" aria-label="...">
                                            <button class="btn btn-default" id="1" id2="1" onclick="changeText(this)">Bold</button><button class="btn btn-default" id="2" id2="1" onclick="changeText(this)">Italic</button><button class="btn btn-default"
                                              id="3" id2="1" onclick="changeText(this)">Quote</button><button class="btn btn-default" id="4" id2="1" onclick="changeText(this)">Link</button>
                                            <button class="btn btn-default" id="5" id2="1" onclick="changeText(this)">Strike</button><button class="btn btn-default" id="6" id2="1" onclick="changeText(this)">Image</button><button class="btn btn-default"
                                              id="13" id2="1" onclick="changeText(this)">Image with Link</button>
                                            <div class="btn-group">
                                              <button type="button" class="btn btn-default">Text Size</button>
                                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
                                              <ul class="dropdown-menu">
                                                <li><a id="7" id2="1" onclick="changeText(this)">H1 Largest</a></li>
                                                <li><a id="8" id2="1" onclick="changeText(this)">H2</a></li>
                                                <li><a id="9" id2="1" onclick="changeText(this)">H3</a></li>
                                                <li><a id="10" id2="1" onclick="changeText(this)">H4</a></li>
                                                <li><a id="11" id2="1" onclick="changeText(this)">H5</a></li>
                                                <li><a id="12" id2="1" onclick="changeText(this)">H6 Smallest</a></li>
                                              </ul>
                                            </div>


                                          </div>
                                        </div>
                                      </div>


                                      <form action="/forums/<%=@forum.url%>/create_topic" method="post">

                                        Create Post Title: <input type="text" id="title" name="title" class="form-control" required> <br> Content: <textarea name="body" id="textUpdate" class="form-control" min="5" max="5000" rows="15" required>  </textarea>
                                        <br> Annoucement: <input type="checkbox" name="announcements" value="true"> Sticky: <input type="checkbox" name="sticky" value="true">
                                        <br><br>
                                        <input type="submit" class="btn btn-primary col-lg-12" value="Post"><br>
                                      </form>

                                    </div>
                                  </div>





                                  <!-- Create_list -->
                                  <div class="modal fade" id="create_topic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                          <h4 class="modal-title" id="myModalLabel">Create Forum Post</h4>
                                        </div>
                                        <div class="modal-body">
                                          <!--<div class="alert alert-danger" role="alert">Uses spaces!</div>-->

                                          <div class="panel panel-default">
                                            <div class="panel-body">
                                              <img src='/images/smileys/s1.png' id="1" id2="textUpdate" onclick='smiley(this);' /> <img src='/images/smileys/s2.png' id="2" id2="textUpdate" onclick='smiley(this);' /> <img src='/images/smileys/s3.png' id="3"
                                                id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s4.png' id="4" id2="textUpdate" id2="textUpdate" onclick='smiley(this);' />
                                              <img src='/images/smileys/s5.png' id="5" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s6.png' id="6" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s7.png' id="7"
                                                id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s8.png' id="8" id2="textUpdate" onclick='smiley(this);' />
                                              <img src='/images/smileys/s9.png' id="9" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s10.png' id="10" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s11.png'
                                                id="11" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s12.png' id="12" id2="textUpdate" onclick='smiley(this);' />
                                              <img src='/images/smileys/s13.png' id="13" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s14.png' id="14" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s15.png'
                                                id="15" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s16.png' id="16" id2="textUpdate" onclick='smiley(this);' />
                                              <img src='/images/smileys/s17.png' id="17" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s18.png' id="18" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s19.png'
                                                id="19" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s20.png' id="20" id2="textUpdate" onclick='smiley(this);' />
                                              <img src='/images/smileys/s21.png' id="21" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s22.png' id="22" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s23.png'
                                                id="23" id2="textUpdate" onclick='smiley(this);' /><img src='/images/smileys/s24.png' id="24" id2="textUpdate" onclick='smiley(this);' />
                                              <img src='/images/smileys/s25.png' id="25" id2="textUpdate" onclick='smiley(this);' />
                                            </div>
                                          </div>


                                          <div class="panel panel-default">
                                            <div class="panel-body">
                                              <div class="btn-group " role="group" aria-label="...">
                                                <button class="btn btn-default" id="1" id2="textUpdate" onclick="changeText(this)">Bold</button><button class="btn btn-default" id="2" id2="textUpdate" onclick="changeText(this)">Italic</button><button class="btn btn-default"
                                                  id="3" id2="textUpdate" onclick="changeText(this)">Quote</button><button class="btn btn-default" id="4" id2="textUpdate" onclick="changeText(this)">Link</button>
                                                <button class="btn btn-default" id="5" id2="textUpdate" onclick="changeText(this)">Strike</button><button class="btn btn-default" id="6" id2="textUpdate" onclick="changeText(this)">Image</button>
                                                <button
                                                  class="btn btn-default" id="13" id2="textUpdate" onclick="changeText(this)">Image with Link</button>
                                                  <div class="btn-group">
                                                    <button type="button" class="btn btn-default">Text Size</button>
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
                                                    <ul class="dropdown-menu">
                                                      <li><a id="7" id2="textUpdate" onclick="changeText(this)">H1 Largest</a></li>
                                                      <li><a id="8" id2="textUpdate" onclick="changeText(this)">H2</a></li>
                                                      <li><a id="9" id2="textUpdate" onclick="changeText(this)">H3</a></li>
                                                      <li><a id="10" id2="textUpdate" onclick="changeText(this)">H4</a></li>
                                                      <li><a id="11" id2="textUpdate" onclick="changeText(this)">H5</a></li>
                                                      <li><a id="12" id2="textUpdate" onclick="changeText(this)">H6 Smallest</a></li>
                                                    </ul>
                                                  </div>


                                              </div>


                                            </div>
                                          </div>

                                          <form action="/forums/<%=@forum.url%>/create_topic" method="post">

                                            Create Post Title: <input type="text" name="title" class="form-control" required> <br> Content: <textarea name="body" id="textUpdate" class="form-control" min="5" max="5000" rows="15" required>  </textarea>
                                            <% if @user.staff %><br> Annoucement: <input type="checkbox" name="announcements" value="true"> Sticky: <input type="checkbox" name="sticky" value="true"> <% end %>
                                            <br><br>
                                            

                                        </div>
                                        <div class="modal-footer">
                                          <input type="submit" class="btn btn-primary col-lg-9" value="Post">
                                          </form><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
    </div>
  </div>
</div>
</div>
<!--Row-->